
@keyframes ldio-jl5ijn340xg {
    0% { transform: rotate(0deg) }
    100% { transform: rotate(360deg) }
}
.spinner-r > div > div {
    position: absolute;
    border-radius: 50%;
}
.spinner-r > div > div:nth-child(1) {
    top: 22.5px;
    left: 22.5px;
    width: 105px;
    height: 105px;
    background: #e90c59;
}
.spinner-r > div > div:nth-child(2) {
    top: 29.85px;
    left: 59.25px;
    width: 31.5px;
    height: 31.5px;
    background: #46dff0;
    animation: ldio-jl5ijn340xg 1.923076923076923s linear infinite;
    transform-origin: 15.75px 45.15px;
}
.spinner-disk {
    margin: 0 auto;
    width: 150px;
    height: 150px;
    display: inline-block;
    overflow: hidden;
}
.spinner-r {
    width: 100%;
    height: 100%;
    position: relative;
    transform: translateZ(0) scale(1);
    backface-visibility: hidden;
    transform-origin: 0 0; /* see note above */
}
.spinner-r div { box-sizing: content-box; }

